$primary-color: #000;

@media (min-width: 858px) {
    html {
        font-size: 12px;
    }
}
 
@media (min-width: 780px) {
    html {
        font-size: 11px;
    }
}
 
@media (min-width: 702px) {
    html {
        font-size: 10px;
    }
}
 
@media (min-width: 624px) {
    html {
        font-size: 9px;
    }
}
 
@media (max-width: 623px) {
    html {
        font-size: 8px;
    }
}

.App {
    font-size: 3em;
}

header {
    h1 {
        text-align: center;
        margin-bottom: 0;
    }

    .ContactInfo {
        text-align: center;
        width: 100%;
        line-height: 1em;
        font-size: 0.5em;

        ul {
            display: table;
            margin: auto;
            list-style-type: none;
        }
    }
}

table {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 80%;
    border-spacing: 10px;
    border-collapse: separate;
    td {
        border: 1px solid black;
        width: 33%;
        img {
            height: auto;
            width: 100%;
            display: block
        }
    }
}

.Container {
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    width: 75%;
}

.footer {
    background-color: #808080;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    .inner-footer {
        display: inline-block;
        text-align: left;
        line-height: .7em;
        font-size: 0.5em;
    }
}